.container::before, .container::after{
    content: '';
    display: table;
    clear: both;
}
.left{
    display: inline-block;
    vertical-align: top;
}
.right{
    display: inline-block;
    position: sticky;
    top: 50px;
    background-color: aqua;
}
